@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
@font-face {
  font-family: "Roboto";
  src: url("/asset/roboto.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "sens";
  src: url("/asset/sansation.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: sens;
}
:root {
  color-scheme: light !important;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #ffffff !important;
    color: #313131 !important;
  }

  .box,
  .card,
  .navbar,
  .hero,
  .section {
    background-color: white !important;
    color: black !important;
  }
}
